@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  box-sizing: content-box;
}

html, body {
  overflow-x: hidden;
  position: relative;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #438496;
  color: #fff;
}

header {
  height: 8vh;
  padding: 0 2.5rem;
  font-size: 0.9rem;
}
header a {
  color: #fff;
  transition: color 0.3s ease;
}
header a:hover {
  color: #13D2B7;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: grid;
  justify-items: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 8vh;
  z-index: 10;
  height: 35vh;
  width: 50%;
  background-color: rgba(158, 58, 130, 0.9725490196);
  transform: translateX(100%);
  transition: all 0.2s ease-in;
}
.nav-items li a {
  padding: 1em 2em;
}

.nav-active {
  transform: translateX(0%);
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger div {
  height: 0.2rem;
  width: 1.5rem;
  background-color: #C72399;
  margin: 0.15rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.hero-section {
  background: rgba(158, 58, 130, 0.6);
  line-height: 2em;
}
.hero-section button {
  cursor: pointer;
}
.hero-section button:hover {
  background-color: rgba(158, 58, 130, 0.8156862745);
}

.subtitle {
  margin: 0;
  padding: 0;
  color: #E253BA;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2.5rem;
  line-height: 2.3rem;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

.hire-me {
  font-size: 0.6rem;
  background: #C72399;
  border-radius: 3px;
  padding: 0.2rem 0.6rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: inherit;
}

.arrow {
  display: none;
}

section {
  padding: 3em 2em;
  text-align: center;
}

.featured {
  position: relative;
  margin-bottom: 3rem;
}
.featured .words {
  padding: 2rem 0;
}
.featured .words h2 {
  font-size: 2rem;
}
.featured img {
  border: 0.1rem solid #9E3A82;
  padding: 0.5rem;
  border-radius: 15px;
}

.featured:before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: -1;
  background: rgba(158, 58, 130, 0.6);
  left: 0;
  top: 2em;
}

.skills {
  background: linear-gradient(#9E3A82 60%, black 60%);
}

.card {
  margin-bottom: 1em;
  padding: 2em;
  background-color: #000000;
  border: 0.2rem solid #C72399;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 40% auto;
  place-content: content;
}
.card .icon {
  display: grid;
  place-content: center;
}
.card .icon img {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.card p {
  font-size: 0.9rem;
}

.portfolio-item {
  padding: 1em;
  margin-bottom: 1em;
}
.portfolio-item a {
  color: #fff;
}
.portfolio-item img {
  border-radius: 15px;
  border: 0.15rem solid #C72399;
  padding: 0.5rem;
}

.portfolio-title {
  margin: 0;
  padding-bottom: 0.5em;
}

footer {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  padding: 3rem 5rem;
  background-color: #9E3A82;
}

@media screen and (min-width: 800px) {
  header {
    padding: 1rem 3rem;
  }
  .nav-items {
    all: initial;
    width: 35%;
    font-family: inherit;
    font-size: inherit;
    display: flex;
  }
  .nav-items li {
    width: 33%;
    text-align: center;
  }
  .nav-items li a {
    padding: 0.3em;
  }
  .burger {
    display: none;
  }
  .hero-section {
    text-align: left;
    background: url("../images/hero-secition-img.png") no-repeat center center;
    background-size: cover;
  }
  .arrow {
    display: block;
    width: 150px;
    height: 300px;
    margin-left: 3em;
    margin-top: -1em;
  }
  .featured {
    text-align: left;
    display: grid;
    grid-template-columns: 40% auto;
    place-items: center;
  }
  .featured img {
    margin-left: 6em;
  }
  .featured:before {
    left: 1rem;
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.3rem;
    justify-items: center;
  }
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .portfolio-item {
    margin: 1.2rem;
  }
}
@media screen and (min-width: 1000px) {
  section {
    padding: 3em 5em;
  }
}
@media screen and (min-width: 1050px) {
  header {
    padding: 1rem 7rem;
  }
  .hero-section {
    height: 90vh;
    padding: 0 7em;
    display: grid;
    grid-template-columns: 60% auto;
    align-items: center;
  }
  .hero-section h1 {
    font-size: 3.3em;
    line-height: 1.3;
  }
  .arrow {
    height: 350px;
  }
  .subtitle {
    font-size: 1em;
  }
  .featured, .skills {
    padding: 5em 7em;
  }
  .featured .words h2 {
    font-size: 2.3em;
  }
  .card {
    min-height: 350px;
    max-width: 300px;
  }
  .portfolio {
    grid-gap: 2rem;
  }
}
@media screen and (min-width: 1250px) {
  header {
    padding: 1rem 9rem;
  }
  .hero-section {
    padding: 0 13em;
  }
  .hero-section h1 {
    font-size: 4.3em;
    line-height: 1;
  }
  .subtitle {
    font-size: 1.2em;
  }
  .arrow {
    height: 450px;
    margin-top: -4em;
  }
  .featured, .skills, .portfolio {
    padding: 3em 8em;
  }
  .featured .words h2 {
    font-size: 2.7em;
    line-height: 1;
  }
}
@media screen and (min-width: 1550px) {
  .featured, .skills, .portfolio {
    padding: 5em 10em;
  }
}/*# sourceMappingURL=index.css.map */